<form [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)">
    <div>
        <label for="username">
            Username
        </label>
        <input id="username" type="text" formControlName="username" required/>
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input id="password" type="password" formControlName="password" minlength="5" required/>
    </div>

    <button class="button" type="submit">Login</button>

</form>
